* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.left {
    background: url("Assets/background.jpg") no-repeat;
    background-size: 100%;
    flex: auto;
}

.right {
    background-color: red;
    flex: 1.5 auto;
}

body {
    display: flex;
    flex-direction: row;
}

body, html {
    height: 100%;
}