* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "norse-bold";
    src: url("Fonts/norse-bold-webfont.woff2");
}

body {
    display: flex;
    flex-direction: row;
}

body,
html {
    height: 100%;
}

.left {
    background: url("Assets/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    flex: auto;
}

.logo {
    width: 100%;
    position: relative;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.477);
    height: max(15vh, 60px);;
    color: white;
    font-size: max(12vh, 50px);
    font-family: norse-bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    height: max(15vh, 60px);
}

.right {
    background-color: red;
    flex: 1.4 auto;
}